<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home - Event App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/vapor/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-dark border-bottom shadow-sm">
  <div class="container">
    <a class="navbar-brand text-white fw-bold" href="/">Best Event App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/UpcomingEvent">Events</a>
        </li>
      </ul>

      <!-- User Dropdown -->
      <ul class="navbar-nav me-3" sec:authorize="isAuthenticated()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="">
            User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/profile">Profile</a></li>
            <li><a class="dropdown-item" href="/">Home</a></li>

          </ul>
        </li>
      </ul>

      <form sec:authorize="isAuthenticated()" method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
        <button type="submit" class="btn btn-outline-primary me-2">
          Logout
        </button>
      </form>

      <!-- Register/Login Buttons -->
      <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
        <li class="nav-item">
          <a href="/register" class="btn btn-outline-primary me-2">Register</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="btn btn-primary">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar End -->


<div class="container py-5">
  <h1 class="text-center my-4">Events</h1>

  <form th:action="@{/UpcomingEvent}" method="get" class="mb-3">
    <div class="input-group">
      <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Rechercher"
              th:value="${search}" />
      <button type="submit" class="btn btn-primary mb-3">Rechercher</button>
    </div>
  </form>


  <div class="row">
    <!-- Loop through events -->

    <div class="col-md-4" th:each="event : ${events}">
      <div class="card mb-4">
        <img th:src="@{'/images/' + ${event.imageFileName}}" class="card-img-top" alt="Event Image">
        <div class="card-body">
          <h5 class="card-title" th:text="${event.title}"></h5>
          <p class="card-text" th:text="${event.description}"></p>
          <p>
            <strong>Category:</strong> <span th:text="${event.category}"></span><br>
            <strong>Date:</strong> <span th:text="${#dates.format(event.date, 'dd-MM-yyyy')}"></span><br>
            <strong>Location:</strong> <span th:text="${event.location}"></span><br>
            <strong>Price:</strong> <span th:text="${event.price + ' $'}"></span>
          </p>
          <a th:href="@{/events/{id}(id=${event.id})}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>


</div>
</div>

</body>
</html>